In [3]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [2]:
pd.__version__

'1.5.3'

In [5]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [15]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [4]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [17]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [42]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

# Get the first chunk
df = next(df_iter)

# Convert datetime columns
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

# Write the first chunk to SQL and replace existing data
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

# Iterate over remaining chunks
for chunk in df_iter:
    t_start = time()

    # Convert datetime columns
    chunk['tpep_pickup_datetime'] = pd.to_datetime(chunk['tpep_pickup_datetime'])
    chunk['tpep_dropoff_datetime'] = pd.to_datetime(chunk['tpep_dropoff_datetime'])

    # Write chunk to SQL and append to existing data
    chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()
    print(f'Inserted another chunk... took {t_end-t_start:.3f} seconds.')

Inserted another chunk... took 6.243 seconds.
Inserted another chunk... took 6.525 seconds.
Inserted another chunk... took 6.392 seconds.
Inserted another chunk... took 6.777 seconds.
Inserted another chunk... took 7.033 seconds.
Inserted another chunk... took 6.888 seconds.
Inserted another chunk... took 7.201 seconds.
Inserted another chunk... took 7.030 seconds.
Inserted another chunk... took 6.859 seconds.
Inserted another chunk... took 6.837 seconds.
Inserted another chunk... took 6.758 seconds.

/var/folders/vs/_r7c0zhs07g_2l34drz17qgh0000gn/T/ipykernel_37961/687269206.py:14: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in df_iter:

Inserted another chunk... took 6.732 seconds.
Inserted another chunk... took 4.486 seconds.

In [1]:
# Load the zone data
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2023-01-31 12:00:10--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.48.30, 54.231.199.120, 54.231.196.88, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.48.30|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv.1’

taxi+_zone_lookup.c 100%[===================>]  12,03K  --.-KB/s    in 0,001s

2023-01-31 12:00:11 (21,5 MB/s) - ‘taxi+_zone_lookup.csv.1’ saved [12322/12322]

In [5]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

In [6]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz

--2023-01-31 12:10:26--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230131%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230131T111026Z&X-Amz-Expires=300&X-Amz-Signature=06d2225ce72d002b56fc818d34c31de86e55b0f4180bc1da21a485ad52ef6690&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-01-31 12:10:26--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230131%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230131T111026Z&X-Amz-Expires=300&X-Amz-Signature=06d2225ce72d002b56fc818d34c31de86e55b0f4180bc1da21a485ad52ef6690&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11099245 (11M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-01.csv.gz’

green_tripdata_2019 100%[===================>]  10,58M  5,04MB/s    in 2,1s

2023-01-31 12:10:29 (5,04 MB/s) - ‘green_tripdata_2019-01.csv.gz’ saved [11099245/11099245]

In [13]:
# Load green taxi trips
csv_name = 'green_tripdata_2019-01.csv.gz'
table_name = 'green_taxi_trips'

In [7]:
df_iter = pd.read_csv(csv_name, iterator=True, chunksize=100000)

In [8]:
df = next(df_iter)

In [11]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [12]:
# Convert datetime columns
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])

In [14]:
# Write the first chunk to SQL and replace existing data
df.to_sql(name=table_name, con=engine, if_exists='replace')

1000

In [17]:
# Iterate over remaining chunks
for chunk in df_iter:
    t_start = time()

    # Convert datetime columns
    chunk['lpep_pickup_datetime'] = pd.to_datetime(chunk['lpep_pickup_datetime'])
    chunk['lpep_dropoff_datetime'] = pd.to_datetime(chunk['lpep_dropoff_datetime'])

    # Write chunk to SQL and append to existing data
    chunk.to_sql(name=table_name, con=engine, if_exists='append')

    t_end = time()
    print(f'Inserted another chunk... took {t_end - t_start:.3f} seconds.')

Inserted another chunk... took 6.693 seconds.
Inserted another chunk... took 6.727 seconds.
Inserted another chunk... took 6.706 seconds.
Inserted another chunk... took 6.687 seconds.
Inserted another chunk... took 6.790 seconds.
Inserted another chunk... took 2.203 seconds.