In [27]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [2]:
pd.__version__

'1.5.3'

In [5]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [15]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [13]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [17]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [42]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

# Get the first chunk
df = next(df_iter)

# Convert datetime columns
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

# Write the first chunk to SQL and replace existing data
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

# Iterate over remaining chunks
for chunk in df_iter:
    t_start = time()

    # Convert datetime columns
    chunk['tpep_pickup_datetime'] = pd.to_datetime(chunk['tpep_pickup_datetime'])
    chunk['tpep_dropoff_datetime'] = pd.to_datetime(chunk['tpep_dropoff_datetime'])

    # Write chunk to SQL and append to existing data
    chunk.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()
    print(f'Inserted another chunk... took {t_end-t_start:.3f} seconds.')

Inserted another chunk... took 6.243 seconds.
Inserted another chunk... took 6.525 seconds.
Inserted another chunk... took 6.392 seconds.
Inserted another chunk... took 6.777 seconds.
Inserted another chunk... took 7.033 seconds.
Inserted another chunk... took 6.888 seconds.
Inserted another chunk... took 7.201 seconds.
Inserted another chunk... took 7.030 seconds.
Inserted another chunk... took 6.859 seconds.
Inserted another chunk... took 6.837 seconds.
Inserted another chunk... took 6.758 seconds.

/var/folders/vs/_r7c0zhs07g_2l34drz17qgh0000gn/T/ipykernel_37961/687269206.py:14: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in df_iter:

Inserted another chunk... took 6.732 seconds.
Inserted another chunk... took 4.486 seconds.